{% extends "projet_layout.html" %}

{% block titre %}
    Accueil - Hackathon Spotify
{% endblock %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
<section id="banner">
    <div class="inner">
        <h4>Bienvenue sur Hackathon Spotify</h4>
        <p>
            Découvrez une expérience unique pour gérer vos données musicales et explorer des insights personnalisés.
            Appuyez sur le bouton pour vous connecter ou créer un compte.
        </p>
        <ul class="actions">
            <li><a href="/login" class="bouton">Se connecter</a></li>
            <li><a href="/signup" class="bouton">S'inscrire</a></li>
        </ul>
    </div>
</section>
{% endblock %}
