{% extends "projet_layout.html" %}

{% block titre %}
    HACKATHON SPOTIFY
{% endblock %}
{% block title %}
    Hackathon Spotify
{% endblock %}
{% block body %}
<section id="banner">
    <div style="color:hsl(0, 0%, 0%)" class="inner">
        <h4 style="color:#000000" >Bienvenue sur Hackathon Spotify</h4><br /><br />
            
        
        <p style="color:#000000" ><br /><br />
        
       <br /><br />
        Appuyer </p>
        <br /><br />
        <ul class="actions special">
            <li><a href="/difficulte" type="submit" class="bouton">Démarrer</a></li>
        </ul>
    </div>
</section>
{% endblock %}
