{% extends "projet_layout.html" %}

{% block titre %}
    Connexion - TN FLOW
{% endblock %}
{% block title %}
    Connexion
{% endblock %}
{% block body %}
<section id="login">
    <div class="inner">
        <h4>Connexion</h4>
        <form method="POST" action="/login">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="bouton">Se connecter</button>
        </form>
        
        <p class="center-text">Pas encore inscrit ? <a href="/signup">Créez un compte</a></p>
    </div>
</section>
{% endblock %}
